ROMS/
roms/
*.zip
*.bin
sim/*/obj_dir/
*.vcd
*.fst
db/
incremental_db/
output_files/
build.log
*.qws
*.rpt
*.summary
c5_pin_model_dump.txt
jtag.cdf
PLLJ_PLLSPE_INFO.txt
other/
tools/unsp_dasm/unsp_dasm
baby/
__pycache__/
*.log
snap/
cfg/
releases/*dbg*.rbf
releases/VSmile_20260926_b18.rbf
releases/VSmile_b19.rbf
releases/VSmile_b20.rbf
releases/VSmile_b22.rbf
releases/VSmile_b23.rbf
releases/VSmile_b42.rbf
